<div class="container-fluid">

  <%= render 'layouts/carousel' %>
  <%= render 'layouts/more_info' %>
  <%= render 'layouts/features_heading' %>
  <%= render 'layouts/features' %>
  <%= render 'layouts/big_callout' %>

</div>
